card(bottom = true) {
    if(bottom) {
        box-shadow:
            0 3px 1px -2px rgba(0,0,0,.2),
            0 2px 2px 0 rgba(0,0,0,.14),
            0 1px 5px 0 rgba(0,0,0,.12);
    }
    else {
        box-shadow:
            0 0px 1px -2px rgba(0,0,0,.2),
            0 0px 2px 0 rgba(0,0,0,.14),
            0 0px 5px 0 rgba(0,0,0,.12);
    }
}

flex-vertical-align(vertical = center, horizontal = center) {
    display: flex;
    flex-flow: column;
    justify-content: horizontal;
    align-items: vertical;
}

flex-vertical-center() {
    display: flex;
    align-items: center;
}

flex-horizontal-center() {
    display: flex;
    justify-content: center;
}
